@import '../../Sass/mixins';
@import '../../Sass/variable';
.container {
  @include backgroundGradient();
  @include coverHeight;
  @include flex(column, center, center, center);

  .welcome {
    // text-align: center;
    @include flex(column, center, center, _, 2rem);
    position: relative;
    @include fullImage();
    @include newsBlog(gridBody) {
      width: 90%;
      @include flex(column, center, center, center, 2rem);
    }
    .background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    h2 {
      @include boldHeader();
    }
    p {
      font-size: $font-size-very-small;
      letter-spacing: 1.04px;
      @include newsBlog(gridBody) {
        width: 100%;
        @include flex(row, center, center, center);
        flex-wrap: wrap;
      }
    }
    .button {
      width: 50%;
      span {
        @include fullImage();
        display: inline-block;
        padding: $input-padding;
        @include boldHeader();
        @include flex(row, center, center, _, 1.3rem);
        cursor: pointer;
      }
    }
  }
}
