@import '../../Sass/mixins';
// .header {
//   width: 100vw;
//   margin-top: 44px;
//   height: 50vh;
//   background: linear-gradient(
//       to right,
//       rgba(119, 113, 113, 0.342),
//       rgba(143, 138, 138, 0.411)
//     ),
//     url('../../../public/images/gr-7.avif');
//   // background-image: url('../../../public/images/bh-3.jpg');
//   background-position: top 40% center;
//   background-repeat: no-repeat;
//   background-size: 100%;
//   @include flex(column, center, center, center);
//   div {
//     @include flex(column, center, flex-start, _, 2rem);
//     h2 {
//       font-size: 4rem;
//       font-weight: bold;
//       background: linear-gradient(to right, #ffffffd8, #fff);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       // text-fi: text;
//     }
//     p {
//       font-size: 2rem;
//       color: silver;
//       opacity: 0.4;
//     }
//   }
// }
.card {
  margin: 3rem 0 1rem 0;
  padding: 2rem;
  @include grid(repeat(4, 1fr), 3rem, 3rem);
}
.pagContainer {
  width: 100vw;
  height: 10rem;
  @include flex(column, center, flex-start, center);
  .pagination {
    @include flex(row, center, flex-start, _, 1rem);
  }
}
// .bottom {
//   padding: $input-padding;
//   border-radius: 50%;
//   background: linear-gradient(
//     to right,
//     rgba(91, 226, 91, 0.726),
//     rgba(91, 226, 91, 0.904)
//   );
//   color: white;
//   border: none;
//   font-size: 1.6rem;
// }
