@import '../../Sass/mixins';
.Error {
  @include coverViewport();
  @include flex(column, center, center, center);
  background: linear-gradient(to right, rgb(62, 62, 83), rgb(33, 33, 54)),
    url('./images/car6.jpg');
  .fail {
    font-size: $font-header;
    font-weight: bold;
    p {
      color: rgba(255, 255, 255, 0.904);
    }
  }
}
