$text-color: rgba(255, 255, 255, 0.966);
$shadow-text-color: rgba(255, 255, 255, 0.747);
$small-padding: 0.2rem 0.4rem;
$small-meduim-padding: 0.5rem 1rem;
$big-padding: 1rem 2rem;
$medium-padding: 0.7rem 1.7rem;
$font-size-small: 2rem;
$font-meduim-small: 1.5rem;
$font-size-very-small: 1.2rem;
$login-bg: rgba(28, 29, 28, 0.95);
$rounded-border: 100px;
$border-small-border: 1rem;
$content-padding: 2rem;
$card-border-radius: 0.5rem;
$font-header: 2.2rem;
$padtop: 2rem;
$border-radius-small: 1rem;
$input-padding: 0.5rem 0.8rem;
$small-margin: 1rem;
$font-main-header: 4rem;
$border-raduis: 0.5rem;
$gradient-padding: 0.4rem;
$bgquiz: rgba(37, 36, 36, 0.945);
$bgquizero: rgba(37, 36, 36);
$bgnews: #575151;
$tcolor: #ffffffee;

$background-color: linear-gradient(to right, blue);
// $background-color: white;
